:root {
    --spacing: 0.25rem;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-space-y-reverse: 0;
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    --tw-space-x-reverse: 0;
    --tooltip-offset: 8px;
    --bs-primary: hsl(var(--primary));
    --bs-primary-rgb: rgb(--bs-primary);
    --bs-secondary: hsl(var(--secondary));
    --bs-secondary-rgb: rgb(--bs-secondary);
    --bs-danger: hsl(var(--destructive));
    --bs-danger-rgb: rgb(--bs-danger);
    --bs-blue: hsl(217.2 91.2% 59.8%);
    --bs-indigo: hsl(238.7 83.5% 66.7%);
    --bs-purple: hsl(270.7 91% 65.1%);
    --bs-pink: hsl(330.4 81.2% 60.4%);
    --bs-red: hsl(0 84.2% 60.2%);
    --bs-orange: hsl(24.6 95% 53.1%);
    --bs-yellow: hsl(45.4 93.4% 47.5%);
    --bs-green: hsl(142.1 70.6% 45.3%);
    --bs-teal: hsl(173.4 80.4% 40%);
    --bs-cyan: hsl(188.7 94.5% 42.7%);
    --bs-black: hsl(0 0% 3.9%);
    --bs-white: hsl(0 0% 98%);
    --bs-gray: hsl(220 8.9% 46.1%);
    --bs-gray-dark: hsl(224 71.4% 4.1%);
    --bs-gray-100: hsl(220 14.3% 95.9%);
    --bs-gray-200: hsl(220 13% 91%);
    --bs-gray-300: hsl(216 12.2% 83.9%);
    --bs-gray-400: hsl(217.9 10.6% 64.9%);
    --bs-gray-500: var(--bs-gray-500);
    --bs-gray-600: hsl(215 13.8% 34.1%);
    --bs-gray-700: hsl(216.9 19.1% 26.7%);
    --bs-gray-800: hsl(215 27.9% 16.9%);
    --bs-gray-900: hsl(220.9 39.3% 11%);
    --bs-success: var(--bs-green);
    --bs-info: var(--bs-cyan);
    --bs-warning: var(--bs-orange);
    --bs-light: var(--bs-white);
    --bs-dark: var(--bs-black);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
}